Flask==3.0.0
flask_cors==4.0.0
Requests==2.31.0
gradio==3.44.0
streamlit~=1.29.0
streamlit_chat
elasticsearch~=7.7.0
pdf2docx~=0.5.6
docx~=0.2.4
colorama~=0.4.6
mdtex2html~=1.2.0
torch~=2.0.0
transformers~=4.36.2
numpy~=1.26.2
tqdm~=4.65.0